@import "reset.scss";

@import url("https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i&display=swap");

:root {
    /* fonts */
    --font-main: "Raleway", sans-serif;
    --font-title: "DM Serif Text", serif;

    --font-main-m: 16px/1 var(--font-main);
    --font-main-xl: 24px/1 var(--font-main);
    --font-main-xxl: 42px/1 var(--font-main);

    --font-title-m: 16px/1 var(--font-title);
    --font-title-xl: 32px/1 var(--font-title);
    --font-title-xxl: 49px/1 var(--font-title);

    /* colors */
    --color-font: #000000;
    --color-background: #ffffff;
    --color-highlight: #fff200;
    --color-borders: #e6e6e6;

    --color-yellow-background: #ffe3bc;
    --color-yellow-light: #fdcd8b;
    --color-yellow-accent: #ffc347;

    --color-blue-background: #2121e2;
    --color-blue-light: #6e6ae0;
    --color-blue-accent: #0000f3;

}

html, body {
    height: 100%
}

body {
    font: var(--font-main-m);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}