@import "reset.scss";

@import url("https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i&display=swap");

:root {
    /* fonts */
    --font-main: "Raleway", sans-serif;
    --font-title: "DM Serif Text", serif;

    --font-main-m: 15px/1.5 var(--font-main);
    --font-main-l: 18px/1.8 var(--font-main);
    --font-main-xl: 24px/1 var(--font-main);
    --font-main-xxl: 42px/1 var(--font-main);
    --font-main-xxxl: 90px/1 var(--font-main);
    --font-main-about: 65px/1 var(--font-main);

    --font-title-m: 16px/1 var(--font-title);
    --font-title-xl: 32px/1 var(--font-title);
    --font-title-xxl: 49px/1 var(--font-title);
    --font-title-xxxl: 75px/1 var(--font-title);

    /* colors */
    --color-font: #000000;
    --color-background: #ffffff;
    --color-highlight: #fff200;
    --color-borders: #e6e6e6;

    --color-yellow-background: #ffe3bc;
    --color-yellow-light: #fdcd8b;
    --color-yellow-accent: #ffc347;

    --color-blue-background: #4713e8;
    --color-blue-light: #5757fb;
    --color-blue-accent: #8e8efb;

}

html, body {
    height: 100%
}

body {
    font: var(--font-main-m);
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1000px) {

    :root {
        --font-main-xxl: 30px/1 var(--font-main);
        --font-title-xxl: 35px/1 var(--font-title);
    
    }
}

@media screen and (max-width: 800px) {
    :root {
        --font-main-about: 42px/1 var(--font-main);
        --font-main-xl: 20px/1 var(--font-main);
    }

    html, body {
        overflow: auto;
        height: auto;
        background-color: var(--color-borders);
    }
}